cask "lightcutvidz" do
  version "VERSION_NUM"

  on_arm do
    url "https://github.com/light-cut-vidz/light-cut-vidz/releases/download/vVERSION_NUM/LightCutVidz-mac-arm64.dmg"
    sha256 "SHA256_ARM64"
  end

  on_intel do
    url "https://github.com/light-cut-vidz/light-cut-vidz/releases/download/vVERSION_NUM/LightCutVidz-mac-x64.dmg"
    sha256 "SHA256_X64"
  end

  name "LightCutVidz"
  desc "Lightweight video editor desktop app"
  homepage "https://light-cut-vidz.github.io/light-cut-vidz"

  app "LightCutVidz.app"

  zap trash: [
    "~/Library/Application Support/LightCutVidz",
    "~/Library/Logs/LightCutVidz",
  ]
end
